node_modules
.DS_Store
.env
npm-debug.log
bundle.js
server_bundle.js
extracted_queries.json
build
package-lock.json
docker/wordpress/wp-content/uploads

docker/wordpress/wp-content/plugins/*
!docker/wordpress/wp-content/plugins/wlcms-settings

docker/wordpress/wp-content/themes/*
!docker/wordpress/wp-content/themes/my-theme

