/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-menu-wrap {
  top: 0;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

.bm-item-list li {
  padding-bottom: 0.3em;
}

/* Menu links */
.bm-menu a {
    color:rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1em;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    padding-bottom: 3px;
}

.bm-menu a {
  &:focus,
  &:hover {
    text-decoration: none;
    border-bottom: solid 1px rgba(255, 255, 255, 0.7);
    display: inline;
    padding-bottom: 3px;
  }

}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Media queries */
.bm-burger-button {
  display: block;
}

 @include media-breakpoint-up(md) {
  .bm-burger-button {
    display: none;
  }
}