/* START Gutenberg styles and overrides START*/
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.alignleft {
  display: inline;
  float: left;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-cover-image {
  @extend .full-width;
  height: 200px;
  margin-bottom: 1rem;
}
/* END Gutenberg style overrides END */

/* Main structure */
html,
body {
  height: 100%;
  background-color: #fff;
}

body {
  color: #40464d;
  text-align: center;
}

/* Custom default button */
.btn-secondary {
  &,
  &:hover,
  &:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 0.05rem solid #fff;
  }
}

li {
  list-style: none;
  padding-left: 10px;
}

ul.navbar-nav li a {
    color: #40464d;
}

ul.navbar-nav li a {
  &:focus,
  &:hover {
    text-decoration: none;
    border-bottom: solid 3px #00a0d2;
    display: inline;
    padding-bottom: 3px;
  }

}

ul.navbar-nav li.active a {
  border-bottom: solid 3px #00a0d2;
  display: inline;
  padding-bottom: 3px;
}

/* Styles for table-esque vertical and horizontal centering */
#content {
  display: table;
  width: 100%;
  height: 100%;/* For Firefox */
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

.main-content {
  padding: 0 3rem;
}

/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead {
  & .nav-link {
    &:hover,
    &:focus {
      border-bottom-color: rgba(255, 255, 255, 0.25);
    }
  }
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9); 
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: bold;
}

/*
 * Positioning
 */

/*
 * Footer
 */

.mastfoot {
}

/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    // position: fixed;
    // top: 0;
  }

  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start vertical centering */
  .site-wrapper-inner {
    // vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

/* Large devices */
@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 65rem;
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}
