/* Main structure */
html,
body {
  height: 100%;
  background-color: #fff;
}

body {
  color: #40464d;
  font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,.84);
  font-size: 18px;
  line-height: 1.4;
}

/* Layout */
#content {
  display: table;
  width: 100%;
  height: 100%;/* For Firefox */
  min-height: 100%;
}

.main-content {
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Header */
.masthead-brand {
  margin-bottom: 0;
}

/* Navigation */
.navbar {
  padding: 1.5rem 1rem;
}

ul.navbar-nav li a {
    color:rgba(0,0,0,.7);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1em;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;

}

ul.navbar-nav li a {
  &:focus,
  &:hover {
    text-decoration: none;
    border-bottom: solid 1px #00a0d2;
    display: inline;
    padding-bottom: 3px;
  }

}

ul.navbar-nav li.active a {
  border-bottom: solid 1px #00a0d2;
  display: inline;
  padding-bottom: 3px;
}

button.navbar-toggler {
  border: none;
  outline: none !important;
}

ul.navbar-nav {
  text-align: center;
}


ul.navbar-nav li {
  margin-top: 20px;
  margin: 0 0.5em;
  padding: .618em 0;
  vertical-align: middle;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead {
  & .nav-link {
    &:hover,
    &:focus {
      border-bottom-color: rgba(255, 255, 255, 0.25);
    }
  }
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9); 
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}


/* Buttons */
.btn-secondary {
  &,
  &:hover,
  &:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 0.05rem solid #fff;
  }
}

/* Lists */
li {
  list-style: none;
  // padding-left: 10px;
}

/* Footer */
.footer {
  margin-top: 3em;
  text-align: center;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  padding: 60px 0;
  font-weight: 500;
}

footer p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1em;
}

footer ul {
  padding-left: 0;
}

.footer ul li {
  display: inline-block;
}

.footer ul li .fa {
  color: #fff;
  margin: 0 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 39px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    color: #00a0d2;
    border: 2px solid #00a0d2;
    transition: all 0.5s ease;
  }
}

/* Media queries */
@include media-breakpoint-up(md) {
  .wp-block-cover-image,
  .wp-block-video {
    height: 450px;
  }
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}

/* Utils */
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}